@import 'site';

body {
  margin-bottom: 50px;
}

ul {
  margin-left: 20px;
}

code {
  background-color: transparent;
}

.no-marg-bottom {
  margin-bottom: 0px;
}

.bottom {
  vertical-align: bottom;
}

button.download-button {
  font-size: ms(3);
}

.footer {
  ul.footer-links {
    float: right;
  }
}

.panel.demo {
  padding: 10px;
  overflow-x: auto;
}

.demo-basic {
  text-align: center;

  .demo-block {
    div {
      background-color: gray;
      color: white;
      // width: 225px;
      height: 150px;
      line-height: 150px;
      font-size: 60px;
      margin-bottom: 10px;
    }
  }
}

.demo-remote {
  .item {
    padding-bottom: 10px;
  }

  .score {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    width: 100px;
    text-align: right;
    color: #666;
  }

  .title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-left: 100px;
  }

  small {
    display: block;
    font-size: 85%;
    margin-left: 100px;
    padding-top: 3px;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;

    ul.footer-links {
      display: inline-block;
      float: none;

      li {
        float: none;
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #download-modal {
    width: 550px;
    margin-left: -275px;

    a.has-tip, .has-tip:hover {
      color: white;
      cursor: inherit;
      border: none;
      font-weight: bold;
    }

    .subtext {
      min-height: 50px;
    }

    a.button {
      width: 49%;
    }

    .github {
      text-align: right;
    }
  }
}

select.version-select {
  width: auto;
}
