---
title: About - Infinite Scrolling for AngularJS
---
<div class='row'>
  <div class='twelve columns'>
    <h3>About ngInfiniteScroll</h3>

    <p>ngInfiniteScroll was developed internally at <a href='http://learni.st/'>Learnist</a> by <a href='https://github.com/BinaryMuse'>Brandon Tilley</a>, where it drives functionality on several pages, including the home page.</p>

    <h3>Getting Help</h3>

    <p>If you'd like to report an issue, please do at the <a href='https://github.com/BinaryMuse/ngInfiniteScroll/issues'>GitHub issue tracker</a>.</p>
  </div>
</div>
