---
title: Demos - Infinite Scrolling for AngularJS
---
<div class='row'>
  <div class='twelve columns'>
    <h3>Demos</h3>

    <ul>
      <li><a href='demo_basic.html'>Basic</a> - This demo implements an infinite scroller that simply appends elements to an array when the page is scrolled.</li>
      <li><a href='demo_async.html'>Loading remote data</a> - This demo uses the <code>$http</code> service to connect to the Reddit API and display items as the page scrolls.</li>
    </ul>
  </div>
</div>
