---
title: Documentation - Infinite Scrolling for AngularJS
---
<div class='row'>
  <div class='twelve columns'>
    <h3>Documentation</h3>
    <h4><code>infiniteScroll</code> (directive in module <code>infinite-scroll</code>)</h4>

    <h5>Description</h5>
    <p>infiniteScroll allows you to specify behavior when the bottom of an element nears the bottom of the browser window.</p>

    <h5>Usage</h5>
<div class='highlight'>
<pre>&lt;ANY infinite-scroll='{expression}'
     [infinite-scroll-distance='{number}']
     [infinite-scroll-disabled='{boolean}']
     [infinite-scroll-immediate-check='{boolean}']>
&lt;/ANY></pre></div>

    <h5>Parameters</h5>
    <ul class='parameters'>
      <li><code>infinite-scroll - {expression}</code> - Expression to evaluate (usually a function call) when the bottom of the element approaches the bottom of the browser window.</li>
      <li><code>infinite-scroll-distance <em>(optional)</em> - {number}</code> - A number representing how close the bottom of the element must be to the bottom of the browser window before the expression specified by <code>infinite-scroll</code> is triggered. Measured in multiples of the window height; for example, if the browser window is 1000 pixels tall and <code>infinite-scroll-distance</code> is set to <code>2</code>, the infinite scroll expression will be evaluated when the bottom of the element is within 2000 pixels of the bottom of the browser window. Defaults to <code>0</code> (e.g. the expression will be evaluated when the bottom of the element crosses the bottom of the browser window).</li>
      <li><code>infinite-scroll-disabled <em>(optional)</em> - {boolean}</code> - A boolean expression that, when <code>true</code>, indicates that the infininite scroll expression should not be evaluated even if all other conditions are met. This is usually used to throttle or pause the infinite scroll, for example when data is loading via Ajax. If a scroll event triggers the directive but this attribute prevents the expression evaluation, the event will be handled instead immediately after this attribute again evaluates to <code>false</code>.</li>
      <li><code>infinite-scroll-immediate-check <em>(optional)</em> - {boolean}</code> - A boolean expression that indicates that the directive should check immediately to see if a scroll event <em>would</em> trigger an evaluation of the infinite scroll expression even if a scroll event does not occur. Useful if it's possible that the content inside the directive's element is not tall enough to fill up the entire browser window's height. Defaults to <code>true</code>.</li>
    </ul>

    <h4>Loading the Module</h4>
    <p>The <code>infiniteScroll</code> directive lives inside the <code>infinite-scroll</code> module; to get access to it, ensure that your application's own module includes <code>infinite-scroll</code> as a dependency (in addition to any other dependencies):</p>

    <pre class='panel demo radius'>
var myApp = angular.module('myApp', ['infinite-scroll']);</pre>

    <h4>Typical Usage</h4>
    <p>Typically, you will use the <code>infiniteScroll</code> directive on an element that contains another element that uses <code>ngRepeat</code> to show a series of elements based on an array (or object); the expression you pass in to the <code>infinite-scroll</code> attribute will generally add additional elements to the array, expanding the <code>ngRepeat</code>.</p>

    <pre ng-non-bindable class='panel demo radius'>
&lt;div infinite-scroll="addMoreItems()">
  &lt;div ng-repeat="item in items">Item number {{$index}}: {{$item}}&lt;/div>
&lt;/div></pre>
    <p>For an example of how you can implement this pattern, see <a href='demos.html'>the demos</a>.</p>
  </div>
</div>
