---
title: Infinite Scrolling for AngularJS
---
<div class='row'>
  <div class='eight columns' style='text-align: center; vertical-align: middle;'>
    <%= image_tag 'logo-resized.png' %>
  </div>

  <div class='four columns'>
    <p style='margin-top: 40px;' class='no-marg-bottom'>
      <button data-show-downloads='download-modal' class='button radius download-button' style='height: 100px; width: 100%;'>Download Now</button>
    </p>
    <p style='text-align: right;'>
      or <a href='https://github.com/BinaryMuse/ngInfiniteScroll'>clone or fork on GitHub</a>
    </p>
  </div>
</div>

<div class='row'>
  <div class='eight columns'>
    <h3>What is Infinite Scrolling?</h3>
    <p>
      Infinite scrolling, also known as "endless scrolling," "unpagination," and others,
      is a technique where additional content for a web page is appended dynamically to
      the bottom of the page as the user approaches the end of the content. You may have
      seen this technique on the <a href='https://facebook.com/'>Facebook</a>
      timeline or on <a href='http://pinterest.com/'>Pinterest's</a> homepage.
    </p>
  </div>
  <div class='four columns'>
    <%= image_tag 'diagram.png' %>
  </div>
</div>

<div class='row'>
  <div class='eight columns push-four'>
    <h3>What is ngInfiniteScroll?</h3>
    <p>
      ngInfiniteScroll is a directive that you can use to implement infinite scrolling
      in your <a href='http://angularjs.org'>AngularJS</a> applications.
      Simply declare which function to call when the user
      gets close to the bottom of the content with the directive and the module will
      take care of the rest. Of course, you can specify several options to ensure
      that the behavior is just what you're looking for.
    </p>
  </div>
  <div class='four columns pull-eight'>
    <%= image_tag 'textmate.png' %>
  </div>
</div>

<div class='row'>
  <div class='twelve columns'>
    <h3>How do I use ngInfiniteScroll?</h3>
    <p>Using ngInfiniteScroll is easy&mdash;just follow these simple steps:</p>
    <ol>
      <li>
        <p>
          Include the <a href='#download' data-show-downloads='download-modal'>ngInfiniteScroll JavaScript source</a>
          script tag on your page, after the script tags for jQuery and AngularJS (ngInfiniteScroll requires the use of jQuery).
        </p>
        <p><code>&lt;script type='text/javascript' src='path/to/jquery.min.js'&gt;&lt;/script&gt;</code><br>
        <code>&lt;script type='text/javascript' src='path/to/angular.min.js'&gt;&lt;/script&gt;</code><br>
        <code>&lt;script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'&gt;&lt;/script&gt;</code></p>
      </li>

      <li>
        <p>
          Ensure that your application module (or whatever module is going to use ngInfiniteScroll)
          specifies <code>infinite-scroll</code> as a dependency.
        </p>
        <p><code>angular.module('myApplication', ['infinite-scroll']);</code></p>
        <p>
          <em>Note that the module name does not include <code>ng</code>, as that namespace is used
          by the official Angular module.</em>
        </p>
      </li>

      <li>
        <p>
          Use the directive by specifying an <code>infinite-scroll</code> attribute on an element.
        </p>
        <p><code>&lt;div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3"&gt;&lt;/div&gt;</code></p>
        <p>
          <em>Note that the attribute does not include <code>ng</code>, as that namespace is used
          by the official Angular module.</em>
        </p>
      </li>

      <li>
        <p>
          That's it! ngInfiniteScroll will call <code>myPagingFunction()</code> any time the bottom of the element
          approaches the bottom of the browser window. See the <a href='documentation.html'>API documentation</a>
          for more information about what attributes are available for use, and take a look at
          <a href='demos.html'>the demos</a> to see ngInfiniteScroll in action.</p>
        </p>
      </li>
  </div>
</div>
